@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles that don't conflict with Tailwind below */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom styles for specific elements can go here */
